:root{
    --menunav: #145c9c;
    --color1: #eb9f2d;
    --color2: #ebc570;
    --color4: #6e999f;
    --color5: #98cec3;
    --text-light: #f8f1e9;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--text-light);
}

a {
    text-decoration: none;
}

a:hover {
    color: var(t);
    text-decoration: none;
    
}

h1, h2, h3, h4 {
    font-family: 'Times New Roman', Times, serif;
}

#header{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 300px;
    transition: all ease-in-out 0.5s;
    /* z-index: ; */
    padding: 0 15px;
    background-color: var(--menunav);
    overflow-y: auto;
}

#header .perfil img {
    margin: 15px auto;
    display: block;
    width: 120px;
    border: 2px solid var(--borda-clara);
    box-shadow: 0px 0px 10px 0px var(--sombra-clara); /* sombra */
}
#header .perfil h1 {
    font-size: 24px;
    margin: 25px;
    padding: 0;
    font-weight: 600;
    text-align: center;
    /* font-family: ; */
}
/* Caso coloquem Link no H1 */
#header .profile h1 a, 
#header .profile h1 a:hover {
    /* color: ;
    text-decoration: none; */
}
.profile .social-links i {
    font-size: 18px;
    display: inline-block;
    background: transparent;
    color: var(--texto-claro);
    line-height: 1;
    padding: 8px 0;
    margin-right: 5px;
    border-radius: 50%;
    text-align: center;
    width: 35px;
    height: 35px;
    transition: 0.3s;
    box-shadow: 0px 0px 5px 0px var(--sombra-clara); /* sombra */
}
.profile .social-links a:hover,
.social-links i:hover {
    font-size: 18px;
    display: inline-block;
    background: white;
    color: black;
    margin-right: 5px;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    box-shadow: 0px 0px 5px 0px var(--sombra-clara); /* sombra */
}